{% extends "base.html" %}
{% block page_content %}
<h1>Welcome, {{student.name}}</h1>
<h3>Fraternities Accepting Applicants</h3>
<div class="list">
    {% for frat in fraternities %}
        {{frat.name}}
        <a class="btn btn-primary" href="/{{pk}}/fraternity/{{frat.id}}/">Apply</a>
    {%endfor%}
</div>
<h3>Applied</h3>
<div class="list">
    {% for fra in applied %}
        {{fra.name}}
        <a class="btn btn-primary" href="/{{pk}}/fraternity/brief/{{fra.id}}/">Events</a>
        <br>
    {%endfor%}
    <h3>Events</h3>
    {% for event in events %}
        {{event.name}}
        <a class="btn btn-primary" href="/{{pk}}/{{event.id}}/">Details</a>
        <br>
    {%endfor%}
</div>
{% endblock %}